<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
<section class="header-top-section">
            <div class="container">
                <div class="row">
                    <div  class="col-md-6">
                        <div class="header-top-content">
                            
                        </div>
                    </div>
                    <div  class="col-md-6">
                        <div class="header-top-menu">
                            <ul class="nav nav-pills navbar-right">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Cart</a></li>
                                <li><a href="/member/signUp">회원가입</a></li>
                                <li><a href="#"><i class="pe-7s-lock"></i>로그인/로그아웃</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
</html>